.addBtn {
    width: 100%;
    height: 100%;
    color: indigo;
    background-image: url(../pictures/plus.png);
    background-position: center;
    background-repeat: no-repeat;
}

.logoutBtn {
    width: 100%;
    height: 100%;
    color: indigo;
}