.calendarDiv {
    position: relative;
    margin-top: 90px;
    width: 100%;
    height: 100%;
}

.headerRekat {
    background-color: black;
    list-style-type: none;
    border: solid 1px black;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
    text-align: left;
    padding: 5px 5px 5px 5px;
    height: auto;
    margin-top: 10px;
}

.rullakotCalendar {
    background-color: dodgerblue;
    list-style-type: none;
    border: solid 1px black;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
    text-align: left;
    padding: 5px 5px 5px 5px;
    height: auto;
    margin-top: 10px;
}

.kauppaLists {
    list-style-type: none;
    border: solid 1px black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    padding: 5px 5px 5px 5px;
    height: auto;
}

.kauppaArkistoRow {
    list-style-type: none;
    border: solid 1px black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    padding: 5px 5px 5px 5px;
    height: auto;
    background-color: #F0AD4E;
}

.kauppaValmisRow {
    list-style-type: none;
    border: solid 1px black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    text-align: center;
    padding: 5px 5px 5px 5px;
    height: auto;
    background-color: green;
}

.kerattavatKaupat {
    position: relative;
    top: auto;
    left: 50%;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    transform: translate(-50%);
}

.middleLoader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.lastWeek {
    position: relative !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.nextWeek {
    position: relative !important;
    font-size: 20px !important;
    font-weight: bold !important;
}

.tableBtnContainer {
    display: flex !important;
    position: relative;
    width: 90%;
    top: auto;
    left: 50%;
    transform: translate(-50%);
}

.alignBoxes {
    padding: 10px 10px 10px 10px;
}

.textSizeKalenteriTitle {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.textSizeKalenteri {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 650px) {
    .calendarDiv {
        position: relative;
        margin-top: 90px;
        width: 100%;
        height: 100%;
    }
    .kauppaLists {
        list-style-type: none;
        border: solid 1px black;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        text-align: center;
        padding: 5px 5px 5px 5px;
        height: auto;
    }
    .kauppaArkistoRow {
        list-style-type: none;
        border: solid 1px black;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        text-align: center;
        padding: 5px 5px 5px 5px;
        height: auto;
        background-color: #F0AD4E;
    }
    .kauppaValmisRow {
        list-style-type: none;
        border: solid 1px black;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        width: 100%;
        text-align: center;
        padding: 5px 5px 5px 5px;
        height: auto;
        background-color: green;
    }
    .kerattavatKaupat {
        position: relative;
        top: auto;
        left: 50%;
        text-align: center;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        transform: translate(-50%);
    }
    .middleLoader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 50px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    .lastWeek {
        position: relative !important;
        font-size: 20px !important;
        font-weight: bold !important;
    }
    .nextWeek {
        position: relative !important;
        font-size: 20px !important;
        font-weight: bold !important;
    }
    .tableBtnContainer {
        display: flex !important;
        position: relative;
        width: 90%;
        top: auto;
        left: 50%;
        transform: translate(-50%);
    }
    .alignBoxes {
        padding: 10px 10px 10px 10px;
    }
    .textSizeKalenteriTitle {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    .textSizeKalenteri {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }
}