.fname {
    left: auto;
}
.label {
    display: inline-block !important;
    width: 147px !important;
}
.block {
    display: inline-block;
    width: 1000px;
}
.myDiv {
    width: 100%;
}
.inputlabel {
    width: 147px !important;
    display: inline-block  !important;
  }
  .btnlabel {
    display: inline-block;
    width: 10px;
}