.frontPage {
    margin-top: 50px;
}

.frontPageMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
    background: #FBD3E9;
    background: -webkit-linear-gradient(to left, #BB377D, #FBD3E9);
    background: linear-gradient(to left, #BB377D, #FBD3E9);
}

.frontPagePicture {
    position: absolute;
    top: 0;
    left: 500px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.frontText {
    position: absolute;
    left: 550px;
    top: 700px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 100px;
    z-index: 1000;
}

.redirect {
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 15px;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 250px;
    height: 100px;
}