.frontPage {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    min-height: 900px;
    background-color: gainsboro;
}

.frontPageMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
    background: #D3D3D3;
}

.frontPagePictureDiv {
    position: absolute;
    top: 0;
    left: 490px;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.frontPageSettings {
    position: absolute;
    border: none !important;
    background-color: transparent !important;
    background-image: url("../pictures/settings.png") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 0.5%;
    left: 89%;
    height: 50px;
    width: 50px;
}

.frontText {
    position: absolute;
    left: 550px;
    top: 700px;
    color: #333;
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    font-size: 100px;
    z-index: 1000;
}

.redirect {
    font-size: 50px !important;
    font-family: 'Exo', sans-serif;
    font-weight: bold !important;
    color: #333 !important;
    border: none !important;
    background-color: transparent !important;
}

.redirect2 {
    font-size: 40px !important;
    font-family: 'Exo', sans-serif;
    font-weight: bold !important;
    color: #333 !important;
    border: none !important;
    background-color: transparent !important;
}

.redirect3 {
    font-size: 40px !important;
    font-family: 'Exo', sans-serif;
    font-weight: bold !important;
    color: #333 !important;
    border: none !important;
    background-color: transparent !important;
}

.redirect4 {
    font-size: 40px !important;
    font-family: 'Exo', sans-serif;
    font-weight: bold !important;
    color: #333 !important;
    border: none !important;
    background-color: transparent !important;;
}

.frontMainBtn {
    position: absolute;
    display: inline-block;
    transform: translate(-50%);
    left: 50%;
    top: 400px;
    text-align: center;
}

.pictureDot {
    position: absolute;
    background-image: url("../pictures/iconH.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
  }