@media screen and (min-width: 1000px) {

    .addBtn {
        position: absolute;
        right: 10px;
        bottom: 55px;
        width: 150px;
        height: 40px;
        color: indigo;
        background-image: url(../pictures/plus.png);
        background-size: 45px;
        background-position: center;
        background-repeat: no-repeat;
    }

    .logoutBtn {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 150px;
        height: 40px;
        font-size: 20px !important;
        font-weight: bold !important;
        text-align: center !important;
    }

    tr, td {
        border: 1px solid #000;
        padding: 0.75rem;
        text-align: left;
        font-size: 20px;
    }

    th {
        font-weight: bold;
        white-space: nowrap;
        background: #000;
        color: #fff;
    }

    .Datepicker {
        position: absolute;
        right: 150px;
        bottom: 10px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }

    .TarkastusBTN {
        visibility: hidden;
    }

    .SearchBTN {
        visibility: hidden;
    }

    .SearchInput {
        visibility: hidden;
    }

    .locationBtn {
        position: absolute;
        right: 10px;
        bottom: 100px;
        width: 150px;
        height: 40px;
        font-size: 20px !important;
        font-weight: bold !important;
    }

    .AddCard {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 70px;
        padding-bottom: 10px;
    }

    .DataCard {
        
    }    

    .AddDate {
        position: relative;
        top: -30px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }

    .KeraysPVM {
        position: absolute;
        top: 10px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }

    .CustomerInfo {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 80px !important;
        width: 250px !important;
        text-align: right;
        font-size: 20px;
    }
}