.printDiv {
    position: absolute;
    padding-top: 70px;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
}

.printTable {
    position: relative;
}

.iframe {
    position: absolute;
    top: 250px;
    height: 100%;
    width: 100%;
    background-color: green;
    left: 0%;
    font-size: 20px;
    text-align: left !important;
    border: solid black 5px;
}

th, td {
    border: 1px solid #000;
    padding: 0.75rem;
    text-align: left;
    font-size: 20px;
}
th {
    font-weight: bold;
    white-space: nowrap;
    background: #000;
}
