@media screen and (min-width: 70em) {
    .bottomRulla {
        padding-bottom: 20px;
    }
    .rullakkoKortti {
        width: auto;
        height: auto;
        padding: 10px;
    }
    .rullakot {
        position: absolute;
        width: 100px;
        right: 10px;
        top: 225px;
    }
    .ValmisRow {
        background-color: green;
    }
    .vieExcel {
        width: 100% !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .poistaBtn {
        width: 100% !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .muokkaaBtn {
        width: 100% !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .valmisBtn {
        width: 100% !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
        background-color: #238423 !important;
        border: #238423 !important;
    }
    .valmisBtn:hover {
        width: 100% !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
        background-color: #007000 !important;
        border: #238423 !important;
    }
    .dialogBtn {
        width: 100% !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .Lisatieto {
        width: auto;
        max-width: 200px;
        font-size: 15px;
    }
    .label {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .KukkaTable {
        width: auto;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        word-break: break-word;
        hyphens: auto;
        max-width: 210px;
        font-size: 20px;
    }
    .lisatietoTable {
        width: auto;
        max-width: 125px;
        font-size: 15px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        word-break: break-word;
        hyphens: auto;
    }
    .keraamassaBtn {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .keraamassaBtn:hover {
        border-color: blue;
    }
    .kerattyMaara {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .kerattyMaara:hover {
        border-color: blue;
    }
    .block {
        display: inline-block;
        width: 100%;
    }
    .myDiv {
        width: 100%;
    }
    .NavBlock {
        width: 100%;
        height: 70px;
    }
    .inputlabel {
        width: 100% !important;
        display: inline-block !important;
    }
    .inputlabelU {
        width: 100% !important;
        display: inline-block !important;
    }
    .inputlabelA {
        width: 85% !important;
        display: inline-block !important;
    }
    .delProduct {
        width: 15% !important;
        display: inline-block !important;
    }
    .btnlabel {
        display: inline-block;
        width: 10px;
    }
    th, td {
        border: 1px solid #000;
        padding: 0.75rem;
        text-align: left;
        font-size: 20px;
    }
    th {
        font-weight: bold;
        white-space: nowrap;
        background: #000;
        color: #fff;
    }
    .warningBox {
        text-align: center;
    }
    .lisatieto {
        position: absolute;
        width: 250px;
        right: 10px;
        display: inline-block;
        text-align: right;
    }
    .Cards {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .UpdateCards {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .KeraysPVM {
        position: absolute;
        top: 10px;
        left: -5px;
        height: 40px;
        width: 190px;
        text-align: center;
        font-size: 20px;
    }
    .DateUpdate {
        position: relative;
        top: -10px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .CustomerInfo {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 80px !important;
        width: 250px !important;
        text-align: right;
        font-size: 20px;
    }
    .ToimitusPVM {
        position: relative;
        top: -10px;
        left: 50px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .ToimitusPVMText {
        position: absolute;
        top: 10px;
        left: 208px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .taulukkoDivider {
        width: 100%;
        height: 50px;
    }
    .addFlower {
        position: relative;
        top: 10px;
        width: 100% !important;
    }
    .addFlowerInput {
        position: relative;
        top: 10px;
        width: 70px !important;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
    }
    .hidden {
        visibility: hidden;
    }
    .loaders {
        position: relative;
        left: -20px;
    }
}

@media screen and (max-width: 1120px) {
    .bottomRulla {
        padding-bottom: 20px;
    }
    .rullakkoKortti {
        width: auto;
        height: 75px;
        padding: 10px;
    }
    .rullakot {
        position: absolute;
        width: 100px;
        right: 10px;
        top: 225px;
    }
    .ValmisRow {
        background-color: green;
    }
    .Tables {
        width: 99%;
        position: relative;
        left: -10px;
    }
    .vieExcel {
        width: 99% !important;
        position: relative !important;
        left: -10px !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .poistaBtn {
        width: 99% !important;
        position: relative !important;
        left: -10px !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .muokkaaBtn {
        width: 99% !important;
        position: relative !important;
        left: -10px !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .valmisBtn {
        width: 99% !important;
        position: relative !important;
        left: -10px !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
        background-color: #238423 !important;
        border: #238423 !important;
    }
    .valmisBtn:hover {
        width: 99% !important;
        position: relative !important;
        left: -10px !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
        background-color: #007000 !important;
        border: #238423 !important;
    }
    .dialogBtn {
        width: 99% !important;
        position: relative !important;
        left: -10px !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .Lisatieto {
        width: auto;
        max-width: 200px;
        font-size: 15px;
    }
    .label {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .keraamassaBtn {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .keraamassaBtn:hover {
        border-color: blue;
    }
    .kerattyMaara {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .kerattyMaara:hover {
        border-color: blue;
    }
    .block {
        display: inline-block;
        width: 100%;
    }
    .myDiv {
        width: 100%;
    }
    .NavBlock {
        width: 100%;
        height: 70px;
    }
    .inputlabel {
        width: 147px !important;
        display: inline-block !important;
    }
    .inputlabelU {
        width: 100% !important;
        display: inline-block !important;
    }
    .btnlabel {
        display: inline-block;
        width: 10px;
    }
    th, td {
        border: 1px solid #000;
        padding: 0.75rem;
        text-align: left;
        font-size: 20px;
    }
    th {
        font-weight: bold;
        white-space: nowrap;
        background: #000;
        color: #fff;
    }
    .warningBox {
        text-align: center;
    }
    .lisatieto {
        position: absolute;
        width: 250px;
        right: 10px;
        display: inline-block;
        text-align: right;
    }
    .KukkaTable {
        word-break: normal;
    }
    .lisatietoTable {
        word-break: normal;
    }
    .Cards {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .UpdateCards {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .KeraysPVM {
        position: absolute;
        top: 10px;
        left: -5px;
        height: 40px;
        width: 190px;
        text-align: center;
        font-size: 20px;
    }
    .DateUpdate {
        position: relative;
        top: -10px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .CustomerInfo {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 80px !important;
        width: 250px !important;
        text-align: right;
        font-size: 20px;
    }
    .ToimitusPVM {
        position: relative;
        top: -10px;
        left: 50px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .ToimitusPVMText {
        position: absolute;
        top: 10px;
        left: 208px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .taulukkoDivider {
        width: 100%;
        height: 50px;
    }
    .addFlower {
        position: relative;
        top: 10px;
        width: 100% !important;
    }
    .addFlowerInput {
        position: relative;
        top: 10px;
        width: 70px !important;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
    }
    .hidden {
        visibility: hidden;
    }
    .loaders {
        position: relative;
        left: -20px;
    }
}

@media screen and (max-width: 910px) {
    .bottomRulla {
        padding-bottom: 20px;
    }
    .rullakkoKortti {
        width: auto;
        height: 75px;
        padding: 10px;
    }
    .rullakot {
        position: absolute;
        width: 100px;
        right: 10px;
        top: 225px;
    }
    .ValmisRow {
        background-color: green;
    }
    .vieExcel {
        width: 99% !important;
        position: relative !important;
        left: -10px !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .poistaBtn {
        width: 99% !important;
        position: relative !important;
        left: -10px !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .muokkaaBtn {
        width: 99% !important;
        position: relative !important;
        left: -10px !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .valmisBtn {
        width: 99% !important;
        position: relative !important;
        left: -10px !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .dialogBtn {
        width: 99% !important;
        position: relative !important;
        left: -10px !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .Lisatieto {
        width: auto;
        max-width: 200px;
        font-size: 15px;
    }
    .label {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .keraamassaBtn {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .keraamassaBtn:hover {
        border-color: blue;
    }
    .kerattyMaara {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .kerattyMaara:hover {
        border-color: blue;
    }
    .block {
        display: inline-block;
        width: 100%;
    }
    .myDiv {
        width: 100%;
    }
    .NavBlock {
        width: 100%;
        height: 70px;
    }
    .inputlabel {
        width: 500px !important;
        display: inline-block !important;
    }
    .inputlabelU {
        width: 100% !important;
        display: inline-block !important;
    }
    .btnlabel {
        display: inline-block;
        width: 10px;
    }
    th, td {
        border: 1px solid #000;
        padding: 0.75rem;
        text-align: left;
        font-size: 20px;
    }
    th {
        font-weight: bold;
        white-space: nowrap;
        background: #000;
        color: #fff;
    }
    .warningBox {
        text-align: center;
    }
    .lisatieto {
        position: absolute;
        width: 250px;
        right: 10px;
        display: inline-block;
        text-align: right;
    }
    .KukkaTable {
        word-break: normal;
    }
    .lisatietoTable {
        word-break: normal;
    }
    .Cards {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .UpdateCards {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .KeraysPVM {
        position: absolute;
        top: 10px;
        left: -5px;
        height: 40px;
        width: 190px;
        text-align: center;
        font-size: 20px;
    }
    .DateUpdate {
        position: relative;
        top: -10px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .CustomerInfo {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 80px !important;
        width: 250px !important;
        text-align: right;
        font-size: 20px;
    }
    .ToimitusPVM {
        position: relative;
        top: -10px;
        left: 50px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .ToimitusPVMText {
        position: absolute;
        top: 10px;
        left: 208px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .taulukkoDivider {
        width: 100%;
        height: 50px;
    }
    .addFlower {
        position: relative;
        top: 10px;
        width: 100% !important;
    }
    .addFlowerInput {
        position: relative;
        top: 10px;
        width: 70px !important;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
    }
    .hidden {
        visibility: hidden;
    }
    .loaders {
        position: relative;
        left: -20px;
    }
}

@media screen and (max-width: 375px) {
    .bottomRulla {
        padding-bottom: 20px;
    }
    .rullakkoKortti {
        width: auto;
        height: 75px;
        padding: 10px;
    }
    .rullakot {
        position: absolute;
        width: 100px;
        right: 10px;
        top: 225px;
    }
    .ValmisRow {
        background-color: green;
    }
    .vieExcel {
        width: 99% !important;
        position: relative !important;
        left: -10px !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .poistaBtn {
        width: 99% !important;
        position: relative !important;
        left: -10px !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .muokkaaBtn {
        width: 99% !important;
        position: relative !important;
        left: -10px !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .valmisBtn {
        width: 99% !important;
        position: relative !important;
        left: -10px !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .dialogBtn {
        width: 99% !important;
        position: relative !important;
        left: -10px !important;
        font-weight: bold !important;
        font-family: Arial, Helvetica, sans-serif !important;
        color: white !important;
    }
    .Lisatieto {
        width: auto;
        max-width: 200px;
        font-size: 15px;
    }
    .label {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .keraamassaBtn {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .keraamassaBtn:hover {
        border-color: blue;
    }
    .kerattyMaara {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .kerattyMaara:hover {
        border-color: blue;
    }
    .block {
        display: inline-block;
        width: 100%;
    }
    .myDiv {
        width: 100%;
    }
    .NavBlock {
        width: 100%;
        height: 70px;
    }
    .inputlabel {
        width: 250px !important;
        display: inline-block !important;
    }
    .inputlabelU {
        width: 100% !important;
        display: inline-block !important;
    }
    .btnlabel {
        display: inline-block;
        width: 10px;
    }
    th, td {
        border: 1px solid #000;
        padding: 0.75rem;
        text-align: left;
        font-size: 20px !important;
    }
    th {
        font-weight: bold;
        white-space: nowrap;
        background: #000;
        color: #fff;
    }
    .warningBox {
        text-align: center;
    }
    .lisatieto {
        position: absolute !important;
        width: 250px !important;
        right: 10px !important;
        display: inline-block !important;
        text-align: right !important;
    }
    .KukkaTable {
        word-break: normal;
    }
    .lisatietoTable {
        word-break: normal;
    }
    .Cards {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .lisatietoMain {
        font-size: 20px !important;
    }
    .UpdateCards {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .KeraysPVM {
        position: absolute;
        top: 10px;
        left: -5px;
        height: 40px;
        width: 190px;
        text-align: center;
        font-size: 20px;
    }
    .DateUpdate {
        position: relative;
        top: -10px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .CustomerInfo {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 80px !important;
        width: 200px !important;
        text-align: right;
        font-size: 20px;
    }
    .ToimitusPVM {
        position: relative;
        top: -10px;
        left: 50px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .ToimitusPVMText {
        position: absolute;
        top: 10px;
        left: 208px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .taulukkoDivider {
        width: 100%;
        height: 50px;
    }
    .addFlower {
        position: relative;
        top: 10px;
        width: 100% !important;
    }
    .addFlowerInput {
        position: relative;
        top: 10px;
        width: 70px !important;
        left: 50%;
        text-align: center;
        transform: translateX(-50%);
    }
    .hidden {
        visibility: hidden;
    }
    .loaders {
        position: relative;
        left: -20px;
    }
}