@media screen and (min-width: 70em) {
    .Lisatieto {
        width: auto;
        max-width: 200px;
        font-size: 15px;
    }
    .label {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }

    .KukkaTable {
        max-width: 200px;
    }

    .keraamassaBtn {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .keraamassaBtn:hover {
        border-color: blue;
    }

    .kerattyMaara {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .kerattyMaara:hover {
        border-color: blue;
    }

    .block {
        display: inline-block;
        width: 100%;
    }
    .myDiv {
        width: 100%;
    }
    .NavBlock {
        width: 100%;
        height: 70px;
    }
    .inputlabel {
        width: 100% !important;
        display: inline-block !important;
    }
    .inputlabelU {
        width: 100% !important;
        display: inline-block !important;
    }
    .btnlabel {
        display: inline-block;
        width: 10px;
    }
    th, td {
        border: 1px solid #000;
        padding: 0.75rem;
        text-align: left;
        font-size: 20px;
    }
    th {
        font-weight: bold;
        white-space: nowrap;
        background: #000;
        color: #fff;
    }
    .warningBox {
        text-align: center;
    }
    .lisatieto {
        position: absolute;
        width: 250px;
        right: 10px;
        display: inline-block;
        text-align: right;
    }
    .kukkaTable {
        width: auto;
        max-width: 200px;
    }
    .Cards {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .UpdateCards {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .KeraysPVM {
        position: absolute;
        top: 10px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .DateUpdate {
        position: relative;
        top: -10px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .CustomerInfo {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 80px !important;
        width: 250px !important;
        text-align: right;
        font-size: 20px;
    }
    .ToimitusPVM {
        position: relative;
        top: -10px;
        left: 50px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .ToimitusPVMText {
        position: absolute;
        top: 10px;
        left: 208px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .taulukkoDivider {
        width: 100%;
        height: 50px;
    }
    .addFlower {
        position: relative;
        top: 10px;
        width: 100% !important;
    }
    .addFlowerInput {
        position: relative;
        top: 10px;
        width: 70px !important;
        left: 50%;
        text-align: center;
        transform:translateX(-50%);
    }
    .hidden {
        visibility: hidden;
    }
}

@media screen and (max-width: 1120px) {
    .Lisatieto {
        width: auto;
        max-width: 200px;
        font-size: 15px;
    }
    .label {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }

    .keraamassaBtn {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .keraamassaBtn:hover {
        border-color: blue;
    }

    .kerattyMaara {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .kerattyMaara:hover {
        border-color: blue;
    }

    .block {
        display: inline-block;
        width: 100%;
    }
    .myDiv {
        width: 100%;
    }
    .NavBlock {
        width: 100%;
        height: 70px;
    }
    .inputlabel {
        width: 147px !important;
        display: inline-block !important;
    }
    .inputlabelU {
        width: 100% !important;
        display: inline-block !important;
    }
    .btnlabel {
        display: inline-block;
        width: 10px;
    }
    th, td {
        border: 1px solid #000;
        padding: 0.75rem;
        text-align: left;
        font-size: 20px;
    }
    th {
        font-weight: bold;
        white-space: nowrap;
        background: #000;
        color: #fff;
    }
    .warningBox {
        text-align: center;
    }
    .lisatieto {
        position: absolute;
        width: 250px;
        right: 10px;
        display: inline-block;
        text-align: right;
    }
    .kukkaTable {
        width: auto;
        max-width: 200px;
    }
    .Cards {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .UpdateCards {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .KeraysPVM {
        position: absolute;
        top: 10px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .DateUpdate {
        position: relative;
        top: -10px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .CustomerInfo {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 80px !important;
        width: 250px !important;
        text-align: right;
        font-size: 20px;
    }
    .ToimitusPVM {
        position: relative;
        top: -10px;
        left: 50px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .ToimitusPVMText {
        position: absolute;
        top: 10px;
        left: 208px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .taulukkoDivider {
        width: 100%;
        height: 50px;
    }
    .addFlower {
        position: relative;
        top: 10px;
        width: 100% !important;
    }
    .addFlowerInput {
        position: relative;
        top: 10px;
        width: 70px !important;
        left: 50%;
        text-align: center;
        transform:translateX(-50%);
    }
    .hidden {
        visibility: hidden;
    }
}

@media screen and (max-width: 910px) {
    .Lisatieto {
        width: auto;
        max-width: 200px;
        font-size: 15px;
    }
    .label {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }

    .keraamassaBtn {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .keraamassaBtn:hover {
        border-color: blue;
    }

    .kerattyMaara {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .kerattyMaara:hover {
        border-color: blue;
    }

    .block {
        display: inline-block;
        width: 100%;
    }
    .myDiv {
        width: 100%;
    }
    .NavBlock {
        width: 100%;
        height: 70px;
    }
    .inputlabel {
        width: 500px !important;
        display: inline-block !important;
    }
    .inputlabelU {
        width: 100% !important;
        display: inline-block !important;
    }
    .btnlabel {
        display: inline-block;
        width: 10px;
    }
    th, td {
        border: 1px solid #000;
        padding: 0.75rem;
        text-align: left;
        font-size: 20px;
    }
    th {
        font-weight: bold;
        white-space: nowrap;
        background: #000;
        color: #fff;
    }
    .warningBox {
        text-align: center;
    }
    .lisatieto {
        position: absolute;
        width: 250px;
        right: 10px;
        display: inline-block;
        text-align: right;
    }
    .kukkaTable {
        width: auto;
        max-width: 200px;
    }
    .Cards {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .UpdateCards {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .KeraysPVM {
        position: absolute;
        top: 10px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .DateUpdate {
        position: relative;
        top: -10px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .CustomerInfo {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 80px !important;
        width: 250px !important;
        text-align: right;
        font-size: 20px;
    }
    .ToimitusPVM {
        position: relative;
        top: -10px;
        left: 50px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .ToimitusPVMText {
        position: absolute;
        top: 10px;
        left: 208px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .taulukkoDivider {
        width: 100%;
        height: 50px;
    }
    .addFlower {
        position: relative;
        top: 10px;
        width: 100% !important;
    }
    .addFlowerInput {
        position: relative;
        top: 10px;
        width: 70px !important;
        left: 50%;
        text-align: center;
        transform:translateX(-50%);
    }
    .hidden {
        visibility: hidden;
    }
}

@media screen and (max-width: 375px) {
    .Lisatieto {
        width: auto;
        max-width: 200px;
        font-size: 15px;
    }
    .label {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }

    .keraamassaBtn {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .keraamassaBtn:hover {
        border-color: blue;
    }

    .kerattyMaara {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .kerattyMaara:hover {
        border-color: blue;
    }

    .block {
        display: inline-block;
        width: 100%;
    }
    .myDiv {
        width: 100%;
    }
    .NavBlock {
        width: 100%;
        height: 70px;
    }
    .inputlabel {
        width: 250px !important;
        display: inline-block !important;
    }
    .inputlabelU {
        width: 100% !important;
        display: inline-block !important;
    }
    .btnlabel {
        display: inline-block;
        width: 10px;
    }
    th, td {
        border: 1px solid #000;
        padding: 0.75rem;
        text-align: left;
        font-size: 20px !important;
    }
    th {
        font-weight: bold;
        white-space: nowrap;
        background: #000;
        color: #fff;
    }
    .warningBox {
        text-align: center;
    }
    .lisatieto {
        position: absolute !important;
        width: 250px !important;
        right: 10px !important;
        display: inline-block !important;
        text-align: right !important;
    }
    .kukkaTable {
        width: 150px;
        max-width: 200px;
    }
    .Cards {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .lisatietoMain {
        font-size: 20px !important;
    }

    .UpdateCards {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .KeraysPVM {
        position: absolute;
        top: 10px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .DateUpdate {
        position: relative;
        top: -10px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .CustomerInfo {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 80px !important;
        width: 200px !important;
        text-align: right;
        font-size: 20px;
    }
    .ToimitusPVM {
        position: relative;
        top: -10px;
        left: 50px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .ToimitusPVMText {
        position: absolute;
        top: 10px;
        left: 208px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .taulukkoDivider {
        width: 100%;
        height: 50px;
    }
    .addFlower {
        position: relative;
        top: 10px;
        width: 100% !important;
    }
    .addFlowerInput {
        position: relative;
        top: 10px;
        width: 70px !important;
        left: 50%;
        text-align: center;
        transform:translateX(-50%);
    }
    .hidden {
        visibility: hidden;
    }
    .loaders {
        position: relative;
        left: -20px;
    }
}