@media screen and (min-width: 70em) {
    .Lisatieto {
        width: auto;
        max-width: 200px;
        font-size: 15px;
    }
    .label {
        display: inline-block !important;
        width: 147px !important;
        text-align: center;
    }
    .block {
        display: inline-block;
        width: 100%;
    }
    .myDiv {
        width: 100%;
    }
    .NavBlock {
        width: 100%;
        height: 70px;
    }
    .inputlabel {
        width: 147px !important;
        display: inline-block !important;
    }
    .btnlabel {
        display: inline-block;
        width: 10px;
    }
    th, td {
        border: 1px solid #000;
        padding: 0.75rem;
        text-align: left;
        font-size: 20px;
    }
    th {
        font-weight: bold;
        white-space: nowrap;
        background: #000;
        color: #fff;
    }
    .warningBox {
        text-align: center;
    }
    .lisatieto {
        position: absolute;
        width: 250px;
        right: 10px;
        display: inline-block;
        text-align: right;
    }
    .Cards {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .UpdateCards {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 10px;
    }
    .KeraysPVM {
        position: absolute;
        top: 10px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .DateUpdate {
        position: relative;
        top: -10px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .CustomerInfo {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 80px !important;
        width: 250px !important;
        text-align: right;
        font-size: 20px;
    }
    .ToimitusPVM {
        position: relative;
        top: -10px;
        left: 50px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
    .ToimitusPVMText {
        position: absolute;
        top: 10px;
        left: 208px;
        height: 40px;
        width: 150px;
        text-align: center;
        font-size: 20px;
    }
}

@media screen and (max-width: 70em) {
    .NavBlock {
        width: 100%;
        height: 70px;
    }
    .Tables {
        width: 40em !important;
    }
    .Cards {
        width: 40em;
    }
    .btn {
        width: 40em;
    }
}

@media screen and (max-width: 40em) {
    .NavBlock {
        width: 100%;
        height: 70px;
    }
    .Tables {
        width: 30em !important;
    }
    .Cards {
        width: 30em;
    }
    .btn {
        width: 30em;
    }
}